@use './reset';


#container {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

html {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 800;

  span.black-letter {
    font-family: "Huntley", serif;
  }
}


main {
  position: relative;
  z-index: 2;

  h1 {
    text-align: center;
    color: #fff;
    font-size: 80px;
    letter-spacing: -4px;

    @media (max-width:640px) {
      font-size: 40px;
    }
  }

  h2 {
    text-align: center;
  }

  section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

#container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;

  canvas {
    margin: 0;
    width: 100%;
    height: 100%;
  }
}


#control-panel {
  position: fixed;
  z-index: 2;
  left: 24px;
  top: 24px;
  background: rgba(2, 2, 2, 0.8);
  backdrop-filter: blur(8px);
  border-radius: 4px;

  li {
    background: none;

    span.property-name {
      font-size: 9px;
    }
  }

  .cr.number {
    div.slider {
      height: 18px;
    }

    input {
      height: 18px;
    }
  }

  .cr.color {
    input {
      height: 20px;
    }
  }
}